BODY {
    background: -webkit-linear-gradient(left, #FF8900 , #FF9073); /* For Safari 5.1 to 6.0 */
    margin: 0;
}

.content_panel {
    margin: 10px auto 5px;
}

.action_panel {
    background: blue;
    border: groove red;
    border-radius: 10px;
    height: 350px;
    width: 500px;
    margin: 10px auto 5px;
    opacity: 0.75;
    visibility: hidden;
}

.button {
    height: 35px;
    width: 35px;
    border: groove red;
    border-radius: 10px;
    float: left;
    padding: 10px;
}

.button_panel{
    position: relative;
    overflow: hidden;
    margin: 10px auto 5px;
    width: 400px;
    visibility: hidden;
}

#button-row {
    opacity: 0.5;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    width:110px;
    height:50px;
    background: #996223;
    float:left;
    margin-left:18px;
    text-align:center;
}

#button-row .vertical-button{
    width: 50%;
    margin: 0 auto;
    float:none;
    margin-left: 50%;
}

#hhh{
    opacity: 0.5;
    border-radius: 5px 5px 5px 5px;
    width:110px;
    height:50px;
    margin: 0 auto;
    background: #996223;
}

canvas{
    position: relative;
    height: 100%;
    width: 100%;
}

.header{
    height: 100px;
    width: 100%;
    background: red;
}

.actionButton{
  position: relative;
  height: 40px;
  width: 100px;
  margin-left: 20px;
  margin-top: 30px;
}

.actionButton {
    display: inline-block;
    color: #e5ffed;
    background: #b81507;
    font: serif 12px;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
}
.actionButton:hover { background: rgba(255,255,255,.2); }
.actionButton:active { background: white; }

.header-wrapper{
    position: relative;
    overflow: hidden;
    margin: 0px auto 5px;
    width: 100%;
    height: 100%;
}

.header-item{
    border-radius: 5px 5px 5px 5px;
    position: relative;
    width:110px;
    height:50px;
    float:left;
    margin-left:18px;
    text-align:center;
}

.infoPanel{
    height: 50px;
    width: 300px;
    border: white solid 1pt;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 380px;
    background: #b81507;
}


